a {
  text-decoration:none
}
a:link {
  color:024C7E
}
a:visited {
  color:024C7E
}
a:active {
  color:958600
}

body{
  background-color: linen;
  text-align:justify
}

pre {
  font-family: "courier new", courier, monospace;
  font-size: 18px;
}
